<div class="row">
    <div class="col">
        <span class="gallery-name"><%= @gallery.name %></span>
        <span class="gallery-date"><%= ": #{@gallery.gallery_on.strftime('%b %d, %Y')}" if @gallery.gallery_on %></span>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>add photos</h2>
        <%= render partial: 'add_photos' %>
    </div>
</div>
