<div class="row">
    <div class="col">
        <span class="gallery-name"><%= @gallery.name %></span>
        <span class="gallery-date"><%= ": #{@gallery.gallery_on.strftime('%b %d, %Y')}" if @gallery.gallery_on %></span>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>add photos here</h2>
        <%= render partial: 'add_photos' %>
    </div>
</div>

<div class="row progress-container d-none">
    <div class="col-sm-2">
        <div id="upload-progress-label">uploading...</div>
    </div>
    <div class="col-sm-10">
        <div class="progress mb-2">
            <div id="upload-progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
        </div>
    </div>
</div>
<div class="row progress-container d-none">
    <div class="col-sm-2">
        <div id="process-progress-label">processing...</div>
    </div>
    <div class="col-sm-10">
        <div class="progress mb-2">
            <div id="process-progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%"></div>
        </div>
    </div>
</div>
