<ul class="thumbnails">
    <% for p in @gallery.photos %>
        <li>
            <%= link_to(image_tag(p.img_url(:thumb), :size => "80x80", :title => p.img.full_filename), gallery_photo_path(@gallery, p), :remote => true, :class => 'thumbnail') %>
        </li>
    <% end %>
</ul>
